﻿<div class="card mt-4">
    <h4 class="card-header">You're logged in with Angular 10 & Keycloak!!</h4>
    <div class="card-body">
        <h6>Success</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <div>Hello, {{userName}}</div>
        <div *ngIf="helloMessage">{{helloMessage.message}}</div>
    </div>
</div>
