﻿<!-- nav -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
        <button mat-button routerLink="/">Home</button>
        <button mat-button *ngIf="!isLoggedIn" (click)="doLogin()">Login</button>
        <button mat-button routerLink="/hello" *ngIf="isLoggedIn">Hello</button>
        <button mat-button *ngIf="isLoggedIn" (click)="doLogout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>
