<mat-card style="margin:auto;margin-top:20px;width:50%">
  <h1>Angular 10 Keycloak Login Example</h1>
  <p>try foo:bar</p>
  <a class="nav-item nav-link" routerLink="/hello">Secured hello page example</a>
</mat-card>
