﻿<mat-card style="margin:auto;margin-top:20px;width:50%">
    <h1>You're logged in with Angular 10 & Keycloak!!</h1>
    <mat-card-content>
        <h2>Success</h2>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <div>Hello, {{userName}}</div>
        <div *ngIf="helloMessage">{{helloMessage.message}}</div>
    </mat-card-content>
</mat-card>
